.idea
ci
clients
.github
python
**/target
**/node_modules
website
target/
.git/
.vscode/
docs/
tests/
*.md
*.sh
Dockerfile*
docker-compose*
.dockerignore
.gitignore
.env*
logs/
tmp/
.DS_Store
build/
models/*
.changes/
.cmake/
ee/
experimental/
tools/
